<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #0a1c36"
>
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">
      <h5 class="text-center">@misgibiyazilim</h5>
      <h4>Araç Kiralama Projesi</h4>
    </a>
    <br>
    <a class="btn btn-outline-warning" aria-current="page" href="#">
      <h6> TÜM ARAÇLAR</h6>
    </a>
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           
         
        </ul>

        <form class="d-flex">
          <button
            routerLink="/login"
            class="btn btn-outline-light"
            type="button"
          >
            <h5>GİRİŞ YAP</h5>
          </button>
          
          
        </form>
        <li class="nav-item dropdown">
          <a
            class="btn btn-outline-light"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
          
            <h5>GÜNCELLEME / SİLME </h5>
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button
                routerLink="/colors/list"
                class="btn btn-outline-warning"
                type="button"
              >
                <h5>RENK GÜNCELLEME - SİLME</h5>
              </button>
            </li>
            <li>
              <button
                routerLink="/brands/list"
                class="btn btn-outline-warning"
                type="button"
              >
                <h5>MARKA GÜNCELLEME - SİLME</h5>
              </button>
            </li>
            <li>
              <button
                routerLink="/cars/list"
                class="btn btn-outline-warning"
                type="button"
              >
                <h5>ARAÇ GÜNCELLEME - SİLME</h5>
              </button>
            </li>

            <li><hr class="dropdown-divider" /></li>
          </ul>
        </li>
       
        <li class="nav-item dropdown">
          <a
            class="btn btn-outline-light"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
          
            <h5>EKLEME</h5>
          </a>
   
    
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <button
            routerLink="/colors/add"
            class="btn btn-outline-warning"
            type="button"
          >
            <h5>RENK EKLEME</h5>
          </button>
        </li>
        <li>
          <button
            routerLink="/brands/add"
            class="btn btn-outline-warning"
            type="button"
          >
            <h5>MARKA EKLEME</h5>
          </button>
        </li>
        <li>
          <button
            routerLink="/cars/add"
            class="btn btn-outline-warning"
            type="button"
          >
            <h5>ARAÇ EKLEME</h5>
          </button>
        </li>

        <li><hr class="dropdown-divider" /></li>
      </ul>
   
      </div>
    </div>
  </div>
</nav>
