
<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #0a1c36"
>
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">
      <h5 class="text-center">@misgibiyazilim</h5>
      <h4>Araç Kiralama Projesi</h4>
    </a>
    <br>
    <a class="btn btn-outline-warning" aria-current="page" href="#">
      <h6>ANASAYFA</h6>

    </a> 
   
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
           
         
         
        </ul>
       
        <form class="d-flex">
         
          
        </form>
        <li class="nav-item dropdown">
          <a
            class="btn btn-outline-light"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            
          >
          
            <h5>GÜNCELLEME / SİLME </h5>
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <button
                routerLink="/colors/list"
                class="btn btn-outline-warning"
                type="button"
              >
                <h5>RENK GÜNCELLEME - SİLME</h5>
              </button>
            </li>
            <li>
              <button
                routerLink="/brands/list"
                class="btn btn-outline-warning"
                type="button"
              >
                <h5>MARKA GÜNCELLEME - SİLME</h5>
              </button>
            </li>
            <li>
              <button
                routerLink="/cars/list"
                class="btn btn-outline-warning"
                type="button"
              >
                <h5>ARAÇ GÜNCELLEME - SİLME</h5>
              </button>
            </li>

            <li><hr class="dropdown-divider" /></li>
          </ul>
        </li>
       
        <li class="nav-item dropdown">
          <a
            class="btn btn-outline-light"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
          
            <h5>EKLEME</h5>
          </a>
   
    
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <button
            routerLink="/colors/add"
            class="btn btn-outline-warning"
            type="button"
          >
            <h5>RENK EKLEME</h5>
          </button>
        </li>
        <li>
          <button
            routerLink="/brands/add"
            class="btn btn-outline-warning"
            type="button"
          >
            <h5>MARKA EKLEME</h5>
          </button>
        </li>
        <li>

          <button
            routerLink="/cars/add"
            class="btn btn-outline-warning"
            type="button"
          >
            <h5>ARAÇ EKLEME</h5>
          </button>
        </li>

        <li><hr class="dropdown-divider" /></li>
      </ul>
      <li></li>
      <div>
        <form class="d-flex" *ngIf="checkIfLogin()==false" >
          <button   routerLink="/login"  class="btn btn-lg btn-info" type="button"> <h4> Giriş Yap </h4>   </button> 
        </form>
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        *ngIf="checkIfLogin()==true" 
      >
        <li class="nav-item dropdown right">
          <a
            class="nav-link dropdown-toggle text-light"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          
            {{ user?.firstName }}
            {{ user?.lastName }} (Findex : {{ user?.findexPoint }})
          </a>
  
          <ul
            class="dropdown-menu colorlb"
            aria-labelledby="navbarDropdown"
          >
            
            <li>
              <a class="dropdown-item" (click)="logOut()"
                ><i class="bi bi-power"></i> Çıkış Yap</a
              >
            </li>
          </ul>
        </li>
      </ul>
          </div>


          
      </div>
    </div>
  </div>
</nav>
  
