
<footer class="bg-dark text-center text-white">
 
    <div class="container p-2 pb-0">
  
      <section class="mb-1">
      
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/misgibiyazilim/" role="button"
          ><i class="fab fa-instagram">
              <h6>Instagram</h6></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/petek-mislina-aydin-b13b721b2/" role="button"
          ><i class="fab fa-linkedin-in">
              <h6>Linkedin</h6></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/mislinaaydn" role="button"
          ><i class="fab fa-github">
              <h6>Github</h6></i
        ></a>
      </section>
     
    </div>

    <div class="text-center p-3" style="background-color: #0a1c36">
      © 2021 Araç Kiralama WebSitesi:
     
    </div>
 
  </footer>