<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div col-md-6></div>

<div class="col-6">
  <div class="mb-2">
    <label for="filterText" class="form-label"> </label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Araç Ara"
    />
  </div>
</div>

<div *ngIf="filterText.length > 2" class="alert alert-primary">
  <h6 class="text-center">{{ filterText }} aradınız</h6>
</div>
<br /><br />
<div class="row row-cols-5 row-cols-md-5 g-5">
  
  <div
    class="card mb-2 col-md-2 mx-3 mt-3"
    style="width: 24rem"
    *ngFor="let car of cars | filterPipe: filterText"
  >
  
    <div>
      <img
        src="{{ apiUrl + car.carImagePath }}"
        class="card-img-top"
        width="400"
        height="250"
      />
      <div class="card-body">
        <h5 class="card-title text-center text-danger">misgibiyazilim</h5>
      </div>
      <ul>
        <li>
          <h5>Marka : {{ car.brandName }}</h5>
        </li>
        <li>
          <h5>Renk : {{ car.colorName }}</h5>
        </li>
        <li>
          <h4>{{ car.dailyPrice | currency: "TRY":" " }}₺ / Günlük</h4>
        </li>
      </ul>

      <h5 class="card-text text-primary text-center">{{ car.description }}</h5>
      <div class="card-footer">
        <a
          routerLink="/cars/detail/{{ car.carId }}"
          class="btn btn-outline-dark"
        >
          Detaylar
        </a>
      </div>
    </div>
  </div>
</div>
